@import "@/css/variables.scss";
@import "@/css/shared.scss";

body{
  min-height: 100vh;
  background-color: $bg-main;
  color: $text-secondary;
}

.clearfix{
  &:before, &:after{
  content: "";
  display: table;

  }
  &:after{
    clear:both;
  }
}

.link-cmd{
  color: $color-main;
}

.button-cmd{
  color: $color-main;
  padding: 5px 20px;
  border: 1px solid $bg-lightest;
  border-radius: 1rem;
}
.xicon{ color: $color-main;}
