
/*
$color-main: #d946ef; // fuchsia-500
$color-secondary: #f5d0fe;
$color-black: #525252;
$color-gray: #a3a3a3;
$color-light: #e5e5e5;
*/

$color-main: #9D71FF; 
$color-secondary: #5E3EC2;
$color-third: #AC86FF;
$color-black: #525252;
$color-gray: #a3a3a3;
$color-light: #e5e5e5;
$color-blue: #5E82FF;

$color-error: #EE5C2F;
$color-warn: #FFB819;
$color-info: #99ECFF;
$color-success: #1B1922;

$bg-main: #1b1922;
$bg-dark: #262330;
$bg-light: #2d2a38;
$bg-lighter: #3a3646;
$bg-lightest: #635d76;

$text-white: #fff;
$text-secondary: #e9e9e9;
$text-default: #aaa;
$text-light: #707070;

//background: linear-gradient(132deg, #AAEFFF 0%, #986AFF 100%);